<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have received feedback</h1>
    <p>
      <%= @feedback %>
    </p>
    <p>
    <%= image_tag attachments['twonoo-logo.png'].url %>
      <h4>Meet People. Do Stuff!</h4>
    </p>
  </body>
</html>
