<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= link_to @organizer.name, profile_url(@organizer) %> just created <%= link_to @activity.activity_name, activity_url(@activity) %> on TwoNoo!</h1>
    <p>
      To login to the site, just follow this link: <%=link_to 'TwoNoo.com', root_url %>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>
