<div class="container" style="margin-top:35px">
  <div class="col-md-4">
  <h2>Conversations</h2>
  <%= render collection: mailbox.conversations(:mailbox_type => 'not_trash'), partial: 'conversations'%>
  </div>
  <div id="display_conversation" class="col-md-8">
    <% if params[:id].nil? then %>
      <% conversation = mailbox.conversations(:mailbox_type => 'not_trash').first %>
    <% else %>
      <% conversation = mailbox.conversations.find(params[:id]) %>
    <% end %>
    <% if !(conversation.nil?) then %>
      <%= render locals: {:conversation => conversation}, partial: 'show' %>
    <% end %>
  </div>
</div>

