<%
  @numNotifs = 10
  @numUnreadNotifs = current_user.mailbox.notifications({:read => false}).count
  @numAdjustedNotifs = 0
  if @numUnreadNotifs > 0 then
     oldestunreadnotif = current_user.mailbox.notifications({:read => false}).order("id ASC").first
     oldestid = oldestunreadmessages.id

     unless @oldestid.nil? then
       @numAdjustedNotifs = current_user.mailbox.notifications({:read => false}).where('mailboxer_notifications.id >= ?', oldestid).count
     end
  end

  @numNotifs = (@numAdjustedNotifs > @numNotifs)?@numAdjustedNotifs:@numNotifs
%>

<% current_user.mailbox.notifications.first(@numNotifs).each do |notif| %>
  <% if notif.is_unread?(current_user) then %>
    <div style='word-wrap: break-word; width: 275px; margin-left: 5px; background-color: #F0F0F0;'>
  <% else %>
    <div style='word-wrap: break-word; width: 275px; margin-left: 5px;'>
  <% end %>
    <%
      @user = User.find_by_id(notif.subject)
      if @user.nil? then %>
    <b><%=notif.subject%>:</b>
    <% else %>
      <b><%=link_to @user.name, profile_path(@user)%>:</b>
    <% end %>
    <%=notif.body.html_safe%>
    <li class="divider"></li>
  </div>
  <% notif.mark_as_read(current_user) %>
<% end %>
