<% provide(:title, "MY STUFF" )%>
<div id="mystuffnav">
  <ul>
    <li class="mystuffnav"><%= link_to "DASHBOARD", "/dashboard/"+current_user.id.to_s %></li>
    <li class="mystuffnav"><%= link_to "PROFILE", current_user %></li>
    <li class="mystuffnav"><%= link_to "SETTINGS", "/settings/"+current_user.id.to_s, class: "selected" %></li>
    <li class="mystuffnav"><%= link_to "MESSAGES", "/messages/"+current_user.id.to_s %></li>
  </ul>
</div>
  <div id="MyStuffUser">
      	<p><input type="checkbox" name="dailyemails" value="true" checked="checked" />&nbsp;Daily Emails: Send me Daily Emails about people I'm following
      	</p>
      	<p><input type="checkbox" name="weeklyemails" value="true" checked="checked" />&nbsp;Weekly Emails: Send me Weekly Emails about people I'm following
      	</p>
      	<p><input type="checkbox" name="dailyemails" value="true" checked="checked" />&nbsp;
      	</p>
      	<p><input type="checkbox" name="dailyemails" value="true" checked="checked" />&nbsp;
      	</p>
      </div>
      