<!-- Modal -->
<div class="modal fade" id="invite_people_form" tabindex="-1" role="dialog" aria-labelledby="myModelLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Invite your friends to TwoNoo!</h4>
      </div>
      <div class="modal-body">
        Enter e-mails of people to invite separated by commas.<br/>
	<textarea id="emails" name="emails" style="width: 100%;"> </textarea>
<br/><br/>
<div style="width:100%;text-align:center;">
					<!-- share buttons -->
					<div class="fb-share-button" 
            data-href="<%=new_user_registration_url(:referrer => current_user.id)%>" 
            data-layout="button" 
            style="padding: 0px; vertical-align: top; height: 24px;"></div>

					<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
          <div class="g-plus"
            data-action="share"
            data-annotation="none"
            data-height="24"
            data-width="64"
            data-href="<%=new_user_registration_url(:referrer => current_user.id) %>"></div>

					<a href="https://twitter.com/share"
            class="twitter-share-button"
            data-url="<%=new_user_registration_url(:referrer => current_user.id) %>"
            data-hashtags="twonoo"
            data-related="MeetExploreLive"
            data-count="none"
            data-text="I just joined TwoNoo...Come check it out!"
            style="padding: 0px; vertical-align: top; height: 24px;"
            >Tweet</a>
					<script>
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){
              js=d.createElement(s);
              js.id=id;
              js.src=p+'://platform.twitter.com/widgets.js';
              fjs.parentNode.insertBefore(js,fjs);
              }}(document, 'script', 'twitter-wjs');
          </script>
</div>
      </div>
      <div class="modal-footer">
        <button id="cancelInvite" type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancel</button>
        <button id="sendInvites" type="button" class="btn btn-primary btn-sm">Send Invites</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="invite_info" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	Invitations Sent!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  $(function(){
    <%
      if cookies[:new_user] == 'true' %>
        $('#invite_people_form').modal('show');
    <%  cookies[:new_user] = 'false'
      end %>

    $('#sendInvites').bind('click', function(){invitePeople();});
    $('#cancelInvite').bind('click', function(){$('#emails').val('');});
    $('#invite_people_form').on('shown.bs.modal', function () { $('#emails').focus(); })

    var invitePeople = function() {
      if(validateEmails())
      {
        $.ajax({
          type: "POST",
          url: "<%=twonoo_invite_people_path%>",
          data: { emails: $('#emails').val()},
          success: function(html) {
            $('#invite_info').modal('show');
            $('#emails').val('');
          },
          error: function(html) {alert('error');}
         });
    
        $('#invite_people_form').modal('hide'); 
      }
    };

    function validateEmails()
    {
      var emails = $('#emails').val();
      var emailArray = emails.split(',');
      var i;

      for (i = 0; i < emailArray.length; i++)
      {
        var email = emailArray[i].trim();
        if (!IsEmail(email))
        {
          alert("Please verify e-mail addresses to ensure they are valid.");
          return false;
        }
      }

      return true;
    }

    function IsEmail(email) {
      var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
      return regex.test(email);
    }

  });
</script>



