<div class="Main">
  <div class="TagLine">
    <h1>Meet. &nbsp Explore. &nbsp Live.</h1>
  </div>
  <%= link_to image_tag("SignUpButton.png", alt: "Sign Up", class: "SignUpButton"), users_new_path, id: "SignUpButton" %>
  <%= link_to image_tag("FindButtonMainPage.png", alt: "Find", class: "FindButtonMainPage"), activities_path, id: "FindButtonMainPage" %>
</div>
