<div class="container">
  <div class="row center-block" style="margin-bottom:5px">
		<div class="content">
			<div class="row">
				<div class="panel panel-body text-center">
					<p class="lead" style="text-size:smaller">Unable to find activities that match your search criteria, showing expanded search results. Create an alert to be notified of future activities!</p>
					<%= link_to 'Create Alert', alert_create_path(params), method: 'POST', class: 'btn btn-sm btn-info' %>
				</div>
			</div>
		</div>
	</div>
</div>
