var interval = 30000; // 30 seconds
var channels = new Object();

$(document).ready(function() {
  init_im();
});

var Dispatcher = function(){
};

Dispatcher.supportsWebsockets = false;
Dispatcher.initialized = false;
Dispatcher.handle = false;
Dispatcher.init_dispatcher = function(){
  if (!(Dispatcher.initialized))
  {
    var useSsl = '<%= ENV['WEBSOCKET_USE_SSL'] %>';
    Dispatcher.dispatcher = new WebSocketRails(window.location.hostname + useSsl == 'true' ? '/websocket' : ':3001/websocket');

    Dispatcher.dispatcher.on_open = function(data) {
      Dispatcher.supportsWebsockets = true;
      console.log('Connection has been established: ', data);
      // You can trigger new server events inside this callback if you wish.

      $(Dispatcher).trigger('onopen',data);

      Dispatcher.dispatcher.bind('connection_closed', function(data) {
        Dispatcher.supportsWebsockets = false;
        Dispatcher.initialized = false; /* reset to false so we can attempt to reinitialize at some point */
        console.log("connection closed!", data) 

        $(Dispatcher).trigger('onclose',data);
      });
    }

    Dispatcher.dispatcher.bind('connection_error', function(data) {
      Dispatcher.supportsWebsockets = false;
      console.log("connection error!", data) 

      $(Dispatcher).trigger('onerror',data);
    });

    Dispatcher.initialized = true;
  }
};

function init_im()
{
  IM.init('.im-container');
  AIM.init('.aim-container');
  CIM.init('.cim-container');
}

var User = function(id, firstname, lastname){
  console.log("id: ", id);
  console.log("firstname: ", firstname);
  console.log("lastname: ", lastname);
  this.id = id;
  this.firstname = firstname;
  this.lastname = lastname;
};

User.prototype.name = function(){
  return Template.printf("#{firstname} #{lastname}", {firstname: this.firstname, lastname: this.lastname});
};

var IM = function(im_container) {
  /* The basics, need this for all chat boxes */
  Dispatcher.init_dispatcher();
  this.im_container = im_container;
  this.recipient = new User(im_container.attr('recipient'), im_container.attr('recipient_firstname'), im_container.attr('recipient_lastname'));
  this.sender = new User(im_container.attr('sender'), im_container.attr('sender_firstname'), im_container.attr('sender_lastname'));
  this.channelName = this.sender.id + '_' + this.recipient.id;

  /* The parts, probably want to provide a way to override these */
  this.create_parts();

  /* Put it all together */
  this.build();

  /* Style it */
  this.style();

  /* Bind the events */
  this.bind();

  var m = this;
  $(Dispatcher).bind('onclose onopen', function(data){
    /* reset the channels */
    console.log('the connection was closed. reset the channels and listeners');
    clearInterval(m.channel);
    m.channel = false;
    m.listen(); /* start the listeners back up - this might get a litte funky if the listener was never started */
  });

  im_container.attr('initialized', this.channelName);

  this.im_container.trigger('on_init_complete');
};

IM.prototype.create_parts = function(){
  this.alink = $('<a>', {id: 'messageMe', class: 'messageMe', text: this.im_container.attr('alink')});
  this.chatbox = $('<div>', {id: 'chatbox', class: 'chatbox col-md-12', style: 'display:none;padding:0px;margin:0px'});
  this.header = $('<div>', {id: 'header', class: 'header', text: this.recipient.name()});
  this.conversation = $('<div>', {id: 'conversation', class: 'conversation col-md-12'});
  this.body = $('<textarea>', {id: 'body', class: 'body', rows: 2});
  this.sendlink = $('<a>', {id: 'sendlink', class: 'sendlink btn btn-success btn-sm', text: 'Send Message'});
};

IM.prototype.build = function(){
  this.im_container.append(this.alink);
  this.im_container.after(this.chatbox);
  this.chatbox.append(this.header);
  this.chatbox.append(this.conversation);
  this.chatbox.append(this.body);
  this.chatbox.append(this.sendlink);
};

IM.prototype.style = function(){
  this.header.css({
    'background-color':'#4DBFF5',
    'color':'#FFFFFF',
    'padding':'0px',
    'margin':'0px',
    'text-align':'center'
  });

  this.conversation.css({
    'font-size': '.8em',
    'padding': '0px',
    'margin': '0px',
    'max-height': '200px',
    'overflow-y': 'auto',
    'overflow-x': 'hidden',
  });

  this.chatbox.css({
    'padding': '0px',
    'margin': '0px',
    'margin-right': '30px',
    'z-index': '1001',
    'background': '#EEE',
    'position':'absolute',
    'top': this.im_container.height(),
    'right':'0px',
    'width': '230px'
  });

  this.body.css({
    'font-size': '.8em',
    'width': '100%',
    'resize': 'vertical'
  });
};

IM.prototype.bind = function(){
  this.bind_alink();

  this.bind_body();

  this.bind_sendlink();
};

IM.prototype.bind_alink = function(){
  var m = this;
  this.alink.unbind('click');
  this.alink.bind('click', function(e){
    m.chatbox.is(':visible')? m.chatbox.hide(): m.chatbox.show();
    m.body.focus();
    e.preventDefault();
  });
};

IM.prototype.bind_body = function(){
  var m = this;
  this.body.keyup(function(e) {
    if (e.keyCode == 13 && !e.shiftKey) {
      e.preventDefault();
      m.sendlink.trigger('click');
    }
    else if (e.keyCode == 27)
    {
      $(this).val('');
    }
  });
};

IM.prototype.bind_sendlink = function(){
  var m = this;
  this.sendlink.unbind('click'); /* make sure there aren't any other click handlers */
  this.sendlink.bind('click', function(e){
    m.send_message();
  });
};

IM.init = function(selector) {
  console.log("initializing IM messengers");
  IM.messengers = IM.messengers || new Object();

  $(selector).each(function(){
    if (!($(this).attr('initialized')))
    {
      var messenger = new IM($(this));
    }
  });
  
}

IM.prototype.add_to_conversation = function(message, recipient) {
  console.log("add_to_conversation: ", message)
  message_row_template = '<div class="row" style="background-color:#EEEEEE;padding-top:0px;padding-bottom:0px;margin-top:0px;border-bottom-style:solid;border-bottom-width:thin;border-bottom-color:#DDDDDD;#{color};">';
  message_row_template += '<div class="col-xs-3" style="overflow:hidden;white-space: nowrap;"><b>#{name}</b></div><div class="col-xs-9" style="background-color:#FFFFFF">#{body}</div></div>';

  message_row = new Template(message_row_template);
  var body = message.body;
  var name = recipient?this.recipient.firstname:this.sender.firstname;
  var color = recipient?'color:#1111FF;':'';

  this.conversation.append(message_row.run({color: color, name: name, body: body}));
};

IM.prototype.clicked = function(clicked) {
  if (!(typeof clicked === "undefined"))
  {
    this.sendlink.attr('clicked', clicked);    
  }

  return (this.sendlink.attr('clicked') == 'true');
};

IM.prototype.listen = function(){
  if (Dispatcher.supportsWebsockets)
  {
    this.listen_websockets();
  }
  else
  {
    this.listen_polling();
  }
}

IM.prototype.listen_long_polling = function(){
  console.log("Long polling is not implemented yet.");
};

IM.prototype.listen_polling = function(){
  var m = this;
  if (!this.channel) { this.channel = setInterval(function(){m.refresh();}, interval); }
};

IM.prototype.listen_websockets = function(){
  console.log("do we have a channel?", this.channelName);
  if (!(this.channel))
  {
    var dispatcher = Dispatcher.dispatcher;
    console.log("binding channel", this.channelName);
    this.channel = dispatcher.subscribe(this.channelName);

    var m = this;
    this.channel.bind('new_message', function(data){
      console.log('Channel event received: ' + data.body);
      m.add_to_conversation(data, true);
    });
  }
};

IM.prototype.message_text = function() {
  return this.body.val();
};


IM.prototype.refresh = function()
{
  var checkTime = new Date(Date.now() - interval);
  console.log("checkTime: " , checkTime);
  console.log("checkTime: ", checkTime.toJSON());

  var message = {
    recipient: this.sender.id,
    sender: this.recipient.id,
    check: checkTime.toJSON()
  };

  var m = this;

  $.ajax({
    type: "POST",
    dataType: 'json',
    url: "/conversations/new_messages",
    data: message,
    success: function(response) {
      for (var i = 0; i < response.length; i++)
      {
        m.add_to_conversation(response[i], true);
      }
    },
    error: function(response) {
      console.log("failure: ", response.message);
    }
  });
} /* END refresh_im */

IM.prototype.send_message = function()
{
  // Don't send the message until it is either successful or failed
  if (this.clicked() || (this.body.val().trim().length == 0)){ return; }
  this.toggle_sending(false);

  var message = {
    body: this.message_text(),
    recipient: this.recipient.id,
    sender: this.sender.id
  };

  if (Dispatcher.supportsWebsockets)
  {
    this.send_websocket(message);
  }
  else
  {
    /* We don't support websockets so we are going to do this old school */
    this.send_ajax(message);
  }

}; /* END send_message */

IM.prototype.send_ajax = function(message){
  var m = this;
  $.ajax({
    type: "POST",
    dataType: "json",
    url: "/conversations/send_message",
    data: message,
    success: function(response) {
      m.add_to_conversation(message, false);
      m.toggle_sending(true);
      console.log("success: ", response);

      m.listen();
    },
    error: function(response) {
      m.toggle_sending(false);
      console.log("failure: ", response);
    }
  });
}; /* END send_ajax */

IM.prototype.send_websocket = function(message){
  var m = this;
  var dispatcher = Dispatcher.dispatcher;

  // Send the message to the server to be sent to the other user
  dispatcher.trigger(
    'send_message',
    message,
    function(response){
      m.add_to_conversation(message, false);
      m.toggle_sending(true);
      console.log("success: ", response);

      m.listen();
    },
    function(response){
      m.toggle_sending(false);
      console.log("failure: ", response);
    }
  );
}; /* END send_websocket */

IM.prototype.toggle_sending = function(clearText)
{
  if (this.clicked())
  {
    this.clicked('false');    
    this.body.prop('disabled', false);
    this.body.focus();

    if (clearText) { this.body.val(''); }

    this.sendlink.html('SEND MESSAGE');
  }
  else
  {
    this.clicked('true');
    this.body.prop('disabled', true);
    this.sendlink.html('SENDING MESSAGE...');
  }
}; /* END toggle_sending */


var AIM = function(container){
  IM.call(this, container);

  this.activity_name = container.attr('activity_name');

  this.chatbox.css({
    'top': '',
    'right': ''
  });
};

AIM.prototype = Object.create(IM.prototype);

AIM.init = function(selector){
  console.log("initializing AIM messengers");
  AIM.messengers = AIM.messengers || new Object();

  $(selector).each(function(){
    var messenger = new AIM($(this));
    AIM.messengers[messenger.channelName] = messenger;
  });
};

AIM.prototype.message_text = function(){
  return this.body.val() + ' - (Sent from: ' + this.activity_name + ')';
};

var CIM = function(container){
  console.log("CIM");
  IM.call(this, container);
};
CIM.prototype = Object.create(IM.prototype);

CIM.prototype.create_parts = function(){
  console.log("creating parts");
  this.conversation = $('#conversation');
  this.body = $('<textarea>', {id: 'body', class: 'body', rows: 4});
  this.sendlink = $('<a>', {id: 'sendlink', class: 'sendlink btn btn-success btn-sm', text: 'Send Message'});
};

CIM.prototype.build = function(){
  console.log("build");
  this.im_container.append(this.body);
  this.im_container.append(this.sendlink);
};

CIM.prototype.style = function(){
  console.log("style");
  this.body.css({
    'width': '100%',
  });
};

CIM.prototype.bind = function(){
  this.bind_body();

  this.bind_sendlink();
};

CIM.init = function(selector){
  console.log("initializing CIM messengers");
  CIM.messengers = CIM.messengers || new Object();


  $(selector).each(function(){
    var messenger = new CIM($(this));
    CIM.messengers[messenger.channelName] = messenger;

    if (!(Dispatcher.initialized))
    { /* wait until it finished initializing to start listening */
      $(Dispatcher).bind('onopen onerror', function(data){
        messenger.listen();
      });
    }
    else
    {
      messenger.listen();
    }
  });
};

CIM.prototype.add_to_conversation = function(message, recipient) {
  console.log("add_to_conversation: ", message)
  message_row_template = '<div class="row" style="background-color:#EEEEEE;padding-top:0px;padding-bottom:0px;margin-top:0px;border-bottom-style:solid;border-bottom-width:thin;border-bottom-color:#DDDDDD;#{color};">';
  message_row_template += '<div class="col-xs-3" style="overflow:hidden;white-space: nowrap;"><b>#{name}</b></div><div class="col-xs-9" style="background-color:#FFFFFF">#{body}</div></div>';
    /*
  if (message.created_at < (Date.now() - 1.day))
  {
    message_row_template += <span style="font-size:50%;">(message.created_at.strftime("%m/%d"))</span>
  }
  else
  {
    message_row_template += <span style="font-size:50%;">(message.created_at.strftime("%l:%M %P"))</span>
  }
  */

  message_row = new Template(message_row_template);
  var body = message.body;
  var name = recipient?this.recipient.firstname:this.sender.firstname;
  var color = recipient?'color:#1111FF;':'';

  this.conversation.prepend(message_row.run({color: color, name: name, body: body}));
};

var Template = function(t){
  this.t = t
}

Template.prototype.run = function(attrs){
  var str = this.t;
  for (attr in attrs) {
    str = str.replace('#{' + attr + '}', attrs[attr]);
  }
  return str;
}; /* END run */

Template.printf = function (str, attrs){
  for (attr in attrs) {
    str = str.replace('#{' + attr + '}', attrs[attr]);
  }
  return str;
};
