/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 
 *= require_self
 *= require 'bootstrap.min.css'
 *= require 'bootstrap-icons.css.scss'
 * require 'bootstrap-theme.min.css'
 *= require 'animate.min.css'
 *= require 'magnific-popup.css'
 *= require 'style.css'
 *= require 'flexslider.css'
 *= require 'jquery.pageslide.css'
 *= require 'custom-icons.css.scss'
 *= require 'custom-icons-ie7.css'
 *= require 'layout.css'
 *= require 'datepicker.css'
 *= require 'colors.css.scss'
 */


.row {
    margin-top:25px;
}

#map-canvas { height: 400px }

#results-row {
    display: table;
    height:110px;
}

#results-row .panel {
  float: none;
  display: table-cell;
  vertical-align: top;
}

#results-row .panel-right {
	border-radius: 0 10px	10px 0;
}

#results-row .panel-left {
	border-radius: 10px 0	0 10px;
	background-color:#0099FF; 
	text-align:center; 
	color:white;
	padding-top: 15px;
}

.profile-img {
    -moz-border-radius: 50px/50px;
    -webkit-border-radius: 50px 50px;
    border-radius: 50px/50px;
    border:solid 1px #FFF; 
    width:100px;
}

.profile-img-small
    {
    width:35px;
    height:35px;
    border-radius:35px;
    font-size:15px;
    color:#ffffff;
    line-height:35px;
    text-align:center;
    display: inline-block;
    background-color:#0099FF;
    }

.profile-img-big
    {
    width:100px;
    height:100px;
    border-radius:100px;
    font-size:20px;
    color:#ffffff;
    line-height:100px;
    text-align:center;
    display: inline-block;
    background-color:#0099FF;
    }


.profile-img-icon {
    -moz-border-radius: 50px/50px;
    -webkit-border-radius: 50px 50px;
    border-radius: 50px/50px;
    border:solid 0px #FFF; 
    width:30px; 
}

