header, section, footer, aside, nav, article, figure, figcaption {
display: block;}
body	{
	color: #666666;
	font-family: Arial, Verdana, sans-serif;
	line-height: 1.4em;
	margin: 0px;}
.wrapper {
	width: 940px;
	margin: 20px auto auto auto;
	background-color: #ffffff;}
	/*border: 2px solid #000000;*/
.nav {
	margin: 5px auto auto 30px;
	height: 50px;}
img.logo {
	width: 300px;
	float: left;
	margin: 10px;}
img.ActivityPhoto {
	max-width: 100px;
	max-height: 80px;
	float: right;
	display: inline;
	margin: 2px;}
img.ActivityDetailsPhoto {
	max-width: 250px;
	max-height: 185px;
	float: left;
	display: block;
	margin: 5px;}
img.ActivityDetailsUserPhoto {
	max-width: 220px;
	max-height: 170px;
	float: left;
	display: block;
	margin: 5px;}
input.save {
	width: 130px;
	float: right;
	margin: auto 20px auto auto;}
input.search {
	width: 150px;
	float: right;
	margin: 10px;}
input.rsvp {
	width: 140px;
	float: right;
	margin: 30px;}
input.follow {
	width: 130px;
	float: right;
	margin: 5px;}
#user {
	float: right;
	margin: 10px;}
div#user {
	float: right;
	margin: 10px;}
div.PageTitle {
	display: inline;
	float: right;
	color: #3CB371;
	text-shadow:
    -1px -1px 0 black,
    0px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    0px 1px 0 black,
    1px 1px 0 black;
	font-size: 2em;
	margin: 20px 10px auto auto;}	
header {
	height 100px;}
nav {
	clear: both;
	color: black;
	background-image: linear-gradient(black, white);
	background-color: #3CB371;
	background-size: 100% 80%;
	background-repeat: no-repeat;
	background-position: 0px 5px;
	margin: auto auto auto auto;
	height: 60px;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;}
	/*background-image: url("images/NewGreenBanner.png");*/
footer {
	clear: both;
	color: #ffffff;
	background-image: linear-gradient(#3CB371, white);
	background-color: #3CB371;
	height: 30px;
	border-top: 1px solid #000000;
	font-size: 80%;
	margin: 0px 0px 0px 0px;}
div.collapsebar {
	clear: both;
	color: #ffffff;
	background-image: linear-gradient(#3CB371, white);
	background-color: #3CB371;
	height: 20px;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	font-size: 60%;
	margin: 20px 0px 0px 0px;}
#floatleft { 
	clear: both;
	float: left;
	display: block;}
input:required {
	border-color: red;
	border-width:2px;}
input:invalid {
	background-color: pink;}
td {
	padding: 10px 10px 0px 10px;}
#ActivityType {
	width: 370px;}
textarea.required {
	border: 2px solid red;}
label {
	width: 100px;
	padding-right: 10px;
	text-align: right;}
.column1 {
	width:450px;
	float: left;
	margin: 10px;}
.column2 {
	width:450px;
	float: left;
	margin: 10px;}
.findcolumn1 {
	width:320px;
	float: left;
	margin: 10px;}
.findcolumn2 {
	width:400px;
	float: left;
	margin: 10px;}
.searchresults {
	background-color: #DCDCDC;}
.searchresult {
	background-color: #ffffff;
	line-height: 1.3em;
	font-size: 80%;
	padding: 10px;
	border: 1px solid #3CB371;
	border-radius: 20px;
	width:430px;
	float: left;
	margin: 0px;}
div.activityname {
	color: black;
	font-weight: bold;
	display: inline;
	float: left;
	width: 250px;}	
div.time {
	display: inline;}	
#activity {
	width:570px;
	height:680px;
	float: left;
	padding: 5px;
	border: 1px solid black;
	border-radius: 20px;
	background-color: white;
	margin: 5px;}
#activitydetailsuser {
	width:330px;
	height:680px;
	float: right;
	padding: 5px;
	border: 1px solid black;
	border-radius: 20px;
	background-color: white;
	margin: 5px 5px auto auto;}
div.clearleft {
	clear: left;}
div.cancelrsvp {
	margin: 5px 5px auto 5px;
	padding: 1px 1px 1px 1px;
	color: green;
	font-weight: bold;
	float: left;
	border: 2px solid red;
	font-size: 100%;
	display: inline;}
#actdetailstime {
	display: inline;
	float: right;
	margin-right: 10px;}
#UserName {
	color: Blue;
	font-weight: bold;}
a.searchlink {
	text-decoration: none;
	color: #666666;}
.EditActivity {
	line-height: 1em;
	font-size: 100%;
	padding: 10px;
	border: 2px solid black;
	border-radius: 5px;
	width:60px;
	float:right;
	margin: 10px;
	display: inline;
	background-color: #3CB371;}
.EditActPhotos {
    width:600px;}
.CancelButtons {
	line-height: 1em;
	font-size: 80%;
	color: white;
	padding: 10px;
	border: 2px solid black;
	border-radius: 5px;
	float: right;
	margin: 10px;
	display: block;
	clear: both;
	background-color: red;}
.CancelRSVP {
	line-height: 1em;
	font-size: 100%;
	padding: 10px;
	border: 2px solid red;
	border-radius: 5px;
	width:120px;
	float:right;
	margin: 10px;
	display: inline;}

/*Main Page Specific*/

img.SignUpButton {
	width: 200px;
	clear: left;
	margin-left: 80px;
	margin-bottom: 20px; 
	float: left;}
img.FindButtonMainPage {
	width: 200px;
	margin-right: 80px;
	margin-bottom: 20px; 	
	float: right;}
div.TagLine {
	clear: both;
	opacity: .3;
	float: center;
	font-size: 2em;
	line-height: 8em;
	margin: 40px auto auto auto;}	
div.Main {
	text-align: center;}
.SignIn {
	line-height: 1.3em;
	font-size: 80%;
	text-align: left;
	padding: 10px;
	border: 2px solid black;
	border-radius: 20px;
	width:200px;
	float: right;
	margin: 20px 20px auto auto}
input.signin {
	background-color: #3CB371;}
.forgotpassword {
	clear: both;
	padding: 10px;
	margin: auto 20px auto auto;
	text-align: center;
	width:200px;
	float: right;}
.Forgot {
	line-height: 1.3em;
	font-size: 120%;
	text-align: left;
	padding: 10px;
	margin: 10px;
	float: center;
	clear: both;
	border: 1px solid;
	border-radius: 20px;
	width:500px;
	margin: auto auto auto auto}

/*Sign Up Specific*/	

input.signup {
	float: right;
	margin: 5px;}
.signupcolumn1 {
	width:300px;
	float: left;
	margin: 10px;}
.signupcolumn2 {
	width:320px;
	float: left;
	margin: 10px;}
p.terms {
	margin-left: 20px;
	clear: both;}	
	
/*My Stuff Specific*/
#MyStuffUser {
	width:920px;
	padding: 5px;
	border: 1px solid black;
	border-radius: 20px;
	background-color: white;
	margin: 2px auto 2px auto;}
.MyStuffTopcolumn1 {
	width:440px;
	float: left;
	margin: 10px;}
.MyStuffTopcolumn2 {
	width:440px;
	float: left;
	margin: 10px;}
input.MyStuffSave {
	width: 200px;
	float: right;
	margin: 10px;}
img.MyPhoto {
	max-width: 70px;
	max-height: 50px;
	float: left;
	display: inline;
	margin: 2px;}
img.MyPhotoPrimary {
	border: 3px solid blue;
	max-width: 70px;
	max-height: 50px;
	float: left;
	display: inline;
	margin: 2px;}
div.MyStuffBottom {
	border: 1px solid black;
	overflow: scroll;
	float: left;
	display: inline;
	width: 300px;
	height: 360px;
	border-radius: 20px;
	margin: 2px 5px 2px 5px;;
	background-image: linear-gradient(#DCDCDC, white);
	background-color: #DCDCDC;}
.eachactivity {
	background-color: #ffffff;
	line-height: 1.2em;
	font-size: 70%;
	padding: 2px;
	border: 1px solid #3CB371;
	border-radius: 10px;
	width:240px;
	margin: 0px auto 0px auto;}
div.rsvps {
	float: right;
	margin-right: 5px;
	display: inline;}
div.counts {
	display: inline;
	color: blue;
	font-weight: bold;}	
.MyStuff {
	clear: both;
	padding: 2px 2px 2px 2px;}
img.FollowingPhoto {
	max-width: 90px;
	max-height: 72px;
	float: left;
	margin: 2px;}
div.following {
	background-color: #ffffff;
	line-height: 1.2em;
	font-size: 70%;
	padding: 2px;
	border: 1px solid #3CB371;
	border-radius: 10px;
	width:260px;
	height:80px;
	margin: 0px auto 0px auto;}
div.followinguser {
	margin: 2px 5px auto auto;
	color: black;
	font-weight: bold;
	float: right;
	font-size: 120%;
	display: inline;}
div.stopfollowing {
	margin: 20px 5px auto 20px;
	padding: 1px 1px 1px 1px;
	color: green;
	font-weight: bold;
	float: right;
	border: 2px solid red;
	font-size: 100%;
	display: inline;}
div.HeaderDashboard {
	font-weight: bold;
	text-align: center;}
#mystuffnav {
	clear: both;
	color: black;
	background-color: none;
	padding: auto;}
#mystuffnav a {
	color:black;
	text-decoration: none;
	border-width: 2px;
	border-radius: 10px;
	border-style: solid;
	border-color: black;
	padding: 5px;
	}	
#mystuffnav a.selected {
	background-color: #3CB371;
	background-image: linear-gradient(#3CB371 60%, white);
	color: white;
	text-decoration: none;
	}	
#mystuffnav a:hover {
	background-color: #3CB371;
	background-image: linear-gradient(#3CB371 60%, white);
	color: white;
	text-decoration: none;
	}	
li.mystuffnav {
	display: inline;
	color: black;
	font-size: 150%;
	margin:  5px;
 }	
 
/* Admin Specific */
.ApprovePhotosItem {
	clear: both;
	padding: 2px 2px 2px 2px;}
div.ApprovePhotos {
	background-color: #ffffff;
	line-height: 1.2em;
	font-size: 80%;
	padding: 2px;
	border: 1px solid #3CB371;
	border-radius: 10px;
	width:400px;
	height:80px;
	margin: 0px auto 0px auto;}
div.ApprovePhotoDetail {
	color: black;
	clear: left;
	float: left;}
img.AdminPhoto {
	max-width: 90px;
	max-height: 72px;
	float: right;
	margin: 2px;}
#photosapprove {
	width:900px;
	float: left;
	padding: 5px;
	border: 1px solid black;
	border-radius: 20px;
	background-color: white;
	margin: 5px;}	
img.ApprovePhoto {
	max-width: 250px;
	max-height: 185px;
	float: left;
	display: inline;}
.ApprovalButtons {
	line-height: 1em;
	font-size: 100%;
	padding: 10px;
	border: 2px solid black;
	border-radius: 5px;
	float:right;	
	margin: 10px;
	display: inline;
	background-color: #3CB371;}
div.ApprovePhoto {
	float: left;
	display: inline;
	margin: 5px;}
img.BlockPhoto {
	max-width: 250px;
	max-height: 185px;
	float: left;
	margin: 5px;
	display: inline;}
.Block {
	line-height: 1.3em;
	font-size: 120%;
	text-align: left;
	padding: 10px;
	margin: 10px auto 10px auto;
	float: center;
	clear: both;
	border: 1px solid;
	border-radius: 20px;
	width:500px;}
.adjustbox {
	margin: 5px;
	float: right;}
#credits {
	color: red;
	font-weight: bold;}
.signedOut{
	text-align: right;
}

  /* Credits Screen */

 div.addUseL {
	float: left;
	width: 50%;
	text-align: center;
 }
 
 div.addUseR {
	width: 50%;
	float: right;
	text-align: center;
 }
 
 .creditLogItem{
	width: 75%;
	float: right;
	text-align: left;
	margin: 3px;
	padding: 5px;
	background-color: #EFEFE7;
 }
 
 .alignRight{
	text-align: right;
 }
 
 #FriendsProgress {
	background-color: black;
	border-radius: 6px;
	padding: 2px;
	width: 75%;
	text-align: right;
	margin: 5px;
 }
 
 #FriendsProgress > div {
	background-color: #0066CC;
	width: 60%;
	height: 20px;
	border-radius: 4px;
	color: white;
 }
 
 td.CreditsMembershipTypeSelected {
	background-color: #0066CC;
	color: white;
	vertical-align: text-center;
 }