<div class="col-md-3 ">
  <div class="panel panel-default">
    <ul class="nav list-group">
      <a href="/profile/edit">
        <li class="list-group-item active">Edit Profile</li>
      </a> 
      <a href="/users/password/edit">
        <li class="list-group-item">Change Password</li>
      </a>
      <a href="/users/privacy">
        <li class="list-group-item">Privacy</li>
      </a>
      <a href="/users/sign_out">
        <li class="list-group-item">Sign Out</li>
      </a>
    </ul>
  </div>
</div>