<div class="container">
	<div class="row">
		<%= current_user ? render('layouts/side_nav') : render(nil) %>
		<div class="panel col-md-8">
			<% @following.each do |f| %>
				<p class="lead">
			    <%= render 'layouts/profile_img_small' %>
					<%= link_to (f.profile.first_name + ' ' + f.profile.last_name), user_activities_path(f) %>
					<span class="pull-right"><font size="1"><%= (link_to 'Unfollow', unfollow_path(f.id), class: 'label label-info') %></font></span>
         </p>
			<% end %>
		</div>
	</div>
</div>
