<div class="container">
	<div class="row">
		<%= current_user ? render('layouts/side_nav') : render(nil) %>
		<div class="panel col-md-8">
			<% @followers.each do |f| %>
				<p class="lead">
			    <%= render 'layouts/profile_img_small' %>
				<%= link_to (f.profile.first_name + ' ' + f.profile.last_name), user_activities_path(f) %></p>
			<% end %>
		</div>
	</div>
</div>
