<div class="container">
  <div class="row">
    <%= render 'edit_nav' %>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
        	All yo privacy go here
        </div>
      </div>
    </div>
  </div>
</div>