<div class="row center-block" style=" text-align:center; margin-bottom:5px">
  <div class="panel">
    <a href="/">&copy;2014 TwoNoo, LLC</a>
    |
    <%= link_to "About", about_path %>
    |
    <%= link_to "Contact", contact_path %>
  </div>
</div>
