<div class="container">
<div class="row center-block" style=" text-align:center; margin-bottom:5px">
  <div class="panel">
    &copy;2014 TwoNoo, LLC
    |
    <%= link_to "About", about_path %>
    |
    <%= link_to "Contact", contact_path %>
    |
    <%= link_to 'Terms', terms_path, target: '_blank' %>
    |
    <%= link_to 'Privacy Policy', privacy_path, target: '_blank' %>.
  </div>
  <div class="pull-right">
    <script type="text/javascript" src="https://seal.websecurity.norton.com/getseal?host_name=www.twonoo.com&amp;size=XS&amp;use_flash=NO&amp;use_transparent=NO&amp;lang=en"></script>
  </div>

</div>
</div>

