<% if current_user.profile.profile_picture_file_name %>
	<%= image_tag current_user.profile.profile_picture.url(:thumb), class: 'profile-img-icon' %>
<% else %>
	<span style="padding:10px; background-color:#e3e3e3; font-size:15px; color:gray; line-height:25px" class="profile-img"><%= ProfileDecorator.new(current_user.profile).display_name %></span>
<% end %>
