<ul class="nav navbar-nav navbar-right">
  <li><div><%= link_to 'Feedback', 'mailto:feedback@twonoo.com', :class => 'btn navbar-btn btn-success', :type => 'button', :style => 'margin-left:5px'  %></div></li>
  <li><div><%= link_to 'Sign Up', new_user_registration_path, :class => 'btn navbar-btn btn-success', :type => 'button', :style => 'margin-left:5px'  %></div></li>
  <li><div><%= link_to 'Sign In', new_user_session_path, :class => 'btn navbar-btn btn-primary', :type => 'button', :style => 'margin-left:5px' %></div></li>
</ul>
